h1{
    border-style: inset;
    border-radius: 10px;
    height: 30px;
    width: 500px;
    padding: 20px;
    margin: 25px;
    text-align: center;
    background-image: linear-gradient(blue, purple);
    color: rgb(241, 117, 0);
    text-shadow: 2px 5px #000000;
    
}

body{
    background-color: black;
    background-image: url(court.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#jordans-1-desc{
    background-color: #83a2db;
    border-style: groove;
    border-radius: 3px;
    width: 580px;
    padding: 5px;
    margin: 5px;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;

}

#row1-section1{
    opacity: 1.0;
}

#jordans-2-desc{
    background-color: #fb4040;
    border-style: groove;
    border-radius: 3px;
    width: 600px;
    padding: 5px;
    margin: 5px;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}